# mod_rewrite を有効化
RewriteEngine On

# ベースパス（サブディレクトリに設置する場合は修正）
RewriteBase /hotelmameya/

# index.php や既存ファイル・ディレクトリは除外
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# すべて index.php に転送
RewriteRule ^(.*)$ index.php [L]

#セッションハイジャック対策
php_value session.cookie_httponly 1
php_value session.cookie_samesite Lax