.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.nav-menu a {
    color: inherit; /*親要素の色*/
    text-decoration: none;
}

.nav-menu a:hover {
    border-bottom: 2px solid #b48a3c; /* 和モダンな金茶ライン */
}


.nav-menu > ul {
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: "Yu Mincho, 'Hiragino Mincho ProN', serif";
    font-size:20px;
    margin-right:20px;
    margin-top:20px;
}

.has-sub {
    position: relative;
}

.sub-menu {
    font-family: "Yu Mincho, 'Hiragino Mincho ProN', serif";
    display: none;
    position: absolute;
    list-style: none;
    font-size:25px;
    padding:30px 0px 20px 0px;
    margin:0;
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(4px);
    left:-42px;
}

.sub-menu li {
    white-space: nowrap;
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
    height:60px;
    width:150px;
    text-align: center;
}

.has-sub:hover .sub-menu {
    display: block;
}

.hero {
    height: 700px; /* 好きな高さに調整 */
    overflow: hidden; /* はみ出した部分を隠す */
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;        /* 画像をトリミングしつつ埋める */
    object-position: center 10%; /* ← ここで上をカット */
}

.index_room{
    display:flex;
}

.index_room img{
    width: 50%;
    height: auto;
}